<%= form_with model: work_rate, url: "#", id: "work-rate-form", class: "work-rate-form" do |form| %>
    <div class="work-rate-field">
        <%= form.label :impressed, class: "work-rate-label" %>
        <div class="work-rate-item" data-controller="rate-range">
            <span class="min-value">0</span>
            <%= form.range_field :impressed, in: 0..100, step: "0.1", disabled: true, data: {rate_range_target: "range"}, class: "work-range" %>
            <span class="max-value" data-rate-range-target="score"></span>
        </div>
    </div>
    <div class="work-rate-field">
        <%= form.label :comedy, class: "work-rate-label" %>
        <div class="work-rate-item" data-controller="rate-range">
            <span class="min-value">0</span>
            <%= form.range_field :comedy, in: 0..100, step: "0.1", disabled: true, data: {rate_range_target: "range"}, class: "work-range"%>
            <span class="max-value" data-rate-range-target="score"></span>
        </div>
    </div>
    <div class="work-rate-field">
        <%= form.label :love, class: "work-rate-label" %>
        <div class="work-rate-item" data-controller="rate-range">
            <span class="min-value">0</span>
            <%= form.range_field :love, in: 0..100, step: "0.1", disabled: true,data: {rate_range_target: "range"},  class: "work-range"%>
            <span class="max-value" data-rate-range-target="score"></span>
        </div>
    </div>
    <div class="work-rate-field">
        <%= form.label :excitement, class: "work-rate-label" %>
        <div class="work-rate-item" data-controller="rate-range">
            <span class="min-value">0</span>
            <%= form.range_field :excitement, in: 0..100, step: "0.1", disabled: true, data: {rate_range_target: "range"}, class: "work-range" %>
            <span class="max-value" data-rate-range-target="score"></span>
        </div>
    </div>
    <div class="work-rate-field">
        <%= form.label :deep, class: "epsode-rate-label" %>
        <div class="work-rate-item" data-controller="rate-range">
            <span class="min-value">0</span>
            <%= form.range_field :deep, in: 0..100, step: "0.1", disabled: true, data: {rate_range_target: "range"}, class: "work-range"%>
            <span class="max-value" data-rate-range-target="score"></span>
        </div>
    </div>
<% end %>