<%= link_to work_path(work.annict_id), class: "work-link" do %>
  <div class="work">
    <div class="work-image">
      <%= image_tag work.image.empty? ? "/assets/no_images.png" : work.image, class: "image" %>
    </div>
    <div class="work-title">
      <h1><%= work.title %></h1>
    </div>
    <div class="works-casts">
      <% casts.each do |cast| %>
        <div class="cast">
          <p class="cast-character"><%= cast.character%>:</p>
          <p class="cast-actor"><%= cast.cast %></p>
        </div>
      <% end %>
    </div>
    <div class="work-information">
      <p class="work-release"><%= work.release.year %>年<%= work.release.season %></p>
      <p class="work-media"><%= work.media %></p>
      <% if work.media != "映画" && work.episode_count != 0 %>
        <p class="work-episode-count">全<%= work.episode_count %>話</p>
      <% end %>
    </div>
  </div>
<% end %>