<div class="form-area">
  <%= search_form_for @q, url: works_search_path, data: { turbo_frame: "works"} do |form| %>
    <%= form.select :year_eq, @years.map { |data| [data.year,data.year]} %>
    <%= form.select :season_eq, @seasons.map { |data| [data.season,data.season]} %>
    <%= form.submit "検索", class: "submit-button"%>
  <% end %>
</div>
<div class="works-area">
  <%= turbo_frame_tag "works" do %>
    <%= render partial: "works/shared/work", collection: @works %>
  <% end %>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag "works/index" %>
<% end %>
