<div class="work-show">
    <div class="work-image">
        <%= image_tag @work.image.empty? ? "/assets/no_images.png" : @work.image, class: "image" %>
    </div>
    <div class="title-and-rate">
      <div class="work-title">
          <h1><%= @work.title %></h1>
      </div>
      <%= render partial: "shared/work_rates", locals: {work_rate: @work_rate} %>
    </div>
    <div class="episodes">
      <% @episodes.each do |episode| %>
        <%= render partial: "shared/episode", locals: { work: @work, episode: episode, open: false } %>
      <% end %>
    </div>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag "works/show" %>
<% end %>
