<%= turbo_frame_tag "modal-form" do %>
    <%= form_with url: "#", scope: :user, method: :post, id: "form",class: "create-field" do |form| %>
				<div class="form-items">
					<%= form.label :name, "名前", class: "form-label"%>
					<%= form.text_field :name, class: "input-item" %>
				</div>
				<div class="form-items">
					<%= form.label :email, "メールアドレス", class: "form-label" %>
					<%= form.email_field :email, class: "input-item" %>
				</div>
				<div class="form-items">
					<%= form.label :password, "パスワード", class: "form-label" %>
					<%= form.password_field :password, class: "input-item" %>
				</div>
				<div class="form-items">
					<%= form.label :password_confirmation, "パスワード確認", class: "form-label" %>
					<%= form.password_field :password_confirmation, class: "input-item" %>
				</div>
				<%= form.submit "新規作成", class: "form-button" %>
		<% end %>
<% end %>