<div class="user-show">
  <div class="total-works">
    <h1 class="total-title">総合ランキング</h1>
    <div class="swiper total-swiper">
      <div class="swiper-wrapper">
        <% @total_works.each_with_index do |work,index| %>
          <%= render partial: "shared/work_slide", locals: {work: work, index: "#{index + 1}", main: true}  %>
        <% end %>
      </div>
    </div>
    <p class="index-link">
      <%= link_to "ランキング一覧へ", user_work_rates_path(current_user,ranking: "total"), class: "link"%>
    </p>
  </div>
  <div class="impressed-works">
    <h1 class="impressed-title">感動したい時に見たいアニメ</h1>
    <div class="swiper impressed-swiper">
      <div class="swiper-wrapper">
        <%@impressed_works.each_with_index do |work,index| %>
          <%= render partial: "shared/work_slide", locals: {work: work, index: index + 1, main: false}%>
        <% end %>
      </div>
    </div>
    <p class="index-link">
      <%= link_to "ランキング一覧へ", user_work_rates_path(current_user,ranking: "impressed"), class: "link"%>
    </p>
  </div>
  <div class="love-works">
    <h1 class="love-title">ドキドキしたい時に見たいアニメ</h1>
    <div class="swiper love-swiper">
      <div class="swiper-wrapper">
        <%@love_works.each_with_index do |work,index| %>
          <%= render partial: "shared/work_slide", locals: {work: work, index: index + 1, main: false}%>
        <% end %>
      </div>
    </div>
    <p class="index-link">
      <%= link_to "ランキング一覧へ", user_work_rates_path(current_user,ranking: "love"), class: "link"%>
    </p>
  </div>
  <div class="comedy-works">
    <h1 class="comedy-title">笑いたい時に見たいアニメ</h1>
    <div class="swiper comedy-swiper">
      <div class="swiper-wrapper">
        <%@comedy_works.each_with_index do |work,index| %>
          <%= render partial: "shared/work_slide", locals: {work: work, index: index + 1, main: false}%>
        <% end %>
      </div>
    </div>
    <p class="index-link">
      <%= link_to "ランキング一覧へ",user_work_rates_path(current_user,ranking: "comedy"), class: "link"%>
    </p>
  </div>
  <div class="excitement-works">
    <h1 class="excitement-title">ワクワクしたい時に見たいアニメ</h1>
    <div class="swiper excitement-swiper">
      <div class="swiper-wrapper">
        <%@excitement_works.each_with_index do |work,index| %>
          <%= render partial: "shared/work_slide", locals: {work: work, index: index + 1, main: false}%>
        <% end %>
      </div>
    </div>
    <p class="index-link">
      <%= link_to "ランキング一覧へ",user_work_rates_path(current_user, ranking: "excitement"), class: "link"%>
    </p>
  </div>
  <div class="deep-works">
    <h1 class="deep-title">暇な時こそ見たいアニメ</h1>
    <div class="swiper deep-swiper">
      <div class="swiper-wrapper">
        <%@deep_works.each_with_index do |work,index| %>
          <%= render partial: "shared/work_slide", locals: {work: work, index: index + 1, main: false}%>
        <% end %>
      </div>
    </div>
    <p class="index-link">
      <%= link_to "ランキング一覧へ", user_work_rates_path(current_user, ranking: "deep"), class: "link"%>
    </p>
  </div>
</div>
<% content_for :css do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <%= stylesheet_link_tag "users/show" %>
<% end %>
<% content_for :js do %>
  <%= javascript_import_module_tag "users/show" %>
<% end %>