<%= turbo_frame_tag "modal" do %>
  <div id="modal-content">
		<div class="modal-header">
			<h1>ユーザー新規作成</h1>
		</div>
		<div id="modal-main">
			<%= form_with model: @user, class:"form create-field" do |form| %>
				 <div class="text-fields">
						<ul id="error-area">
						</ul>
						<div class="form-items">
							<%= form.label :name, class: "form-label"%>
							<%= form.text_field :name, class: "input-item" %>
						</div>
						<div class="form-items">
							<%= form.label :email, class: "form-label" %>
							<%= form.email_field :email, class: "input-item" %>
						</div>
						<div class="form-items">
							<%= form.label :password, class: "form-label" %>
							<%= form.password_field :password, class: "input-item" %>
						</div>
						<div class="form-items">
							<%= form.label :password_confirmation, class: "form-label" %>
							<%= form.password_field :password_confirmation, class: "input-item" %>
						</div>
				 </div>
				 <%= form.submit "新規作成", class: "form-button" %>
			<% end %>
		</div>
	</div>
<% end %>