<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags%>
   
  </head>

  <body>
    <div id="global-container">
      <%= render "shared/header"%>
      <% if flash.present? %>
        <% flash.each do |key, value| %>
          <%= render partial: "shared/flash_message", locals: {type: key, message: value} %>
        <% end %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
