<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags%>
    <%= yield :css %>
    <%= yield :js %>
  </head>

  <body>
    <div id="global-container">
      <div id="container">
        <div class="mobile-menu__cover">
        </div>
        <%= link_to root_path, data: {turbo_frame: "modal"} do %>
          <div id="top-modal__mask">
          </div>
        <% end %>
        <%= render "shared/header" %>
          <% if flash.present? %>
            <%= render "shared/flash_message" %>
          <% else %>
            <div id="flash">
            </div>
          <% end %>
          <div class="content">
            <%= yield %>
          </div>
        <%= render "shared/footer" %>
      </div>
      <% if logged_in? %>
        <nav class="mobile-menu">
            <div class="mobile-menu__logo">
              <div class="mobile-menu__title font-cool">
                Anime&ensp;Review
              </div>
            </div>
            <ul class="mobile-menu__main">
              <li class="mobile-menu__list">
                <%= link_to "作品一覧", works_path, class: "mobile-menu__link" %>
              </li>
              <li class="mobile-menu__list">
                <%= link_to "Myページ", "#", class: "mobile-menu__link" %>
              </li>
              <li class="mobile-menu__list">
                <%= link_to "ユーザー情報", edit_user_path(@current_user), class: "mobile-menu__link" %>
              </li>
              <li class="mobile-menu__list">
                <%= link_to "ログアウト", session_logout_path, data: {turbo_method: "delete"},class: "mobile-menu__link" %>
              </li>
            </ul>
        </nav>
      <% end %>
    </div>
  </body>
</html>
