<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags%>
    <%= yield :css%>

  </head>

  <body>
    <div id="global-container">
      <%= turbo_frame_tag "page-transition" do %>
        <%= render "shared/header" %>
        <% if flash.present? %>
          <%= render "shared/flash_message" %>
        <% else %>
          <div id="flash">
          </div>
        <% end %>
        <div id="container">
          <%= yield %>
        </div>
      <% end %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
